[submodule "ContractExamples/soroban-examples"]
	path = ContractExamples/soroban-examples
	url = https://github.com/stellar/soroban-examples
[submodule "ContractExamples/xycloans"]
	path = ContractExamples/xycloans
	url = https://github.com/xycloo/xycloans.git
